* {
    color: black;
}

#contact-grid {
    width: 100%;
    margin-top: 3vh;
}

#image-column {
    display: flex;
    justify-content: center;
}

#form-column {
    padding-left: 4vw;
}

#contact-title {
    font-size: 7vh;
    font-weight: 900;
    float: right;
    line-height: 4vh;
}

#contact-text {
    margin-top: 1em;
    font-size: 1.5em;
    float: right;
    text-align: right;
    margin-bottom: 1.5em;
}

#cs-award {
    width: 65%;
    height: auto;
    object-fit: cover;
}

#submit {
    width: 100%;
    margin-top: 2vh;
}

@media (max-width: 991px) {
    #contact-title {
        float: left;
        line-height: normal;
    }
    
    #contact-text {
        float: left;
        text-align: left;
        margin-bottom: 1.5em;
    }

    #image-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
}