* {
    color: black;
}

h1 {
    font-weight: 900;
}

span {
    font-weight: 900;
}

#home-text {
    /* margin-top: 2vw; */
    width: 86%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#welcome-to {
    color: black;
    font-size: 6.5vw;
    line-height: 6.5vw;
}

#loyola {
    color: #a40047;
    font-size: 6.5vw;
    line-height: 6.5vw;
}

#university {
    color: #e7af12;
    font-size: 6.5vw;
    line-height: 6.5vw;
}

#chicago-coding {
    line-height: 6.5vw;
}

#chicago {
    color: #a40047;
    font-size: 6.5vw;
    line-height: 6.5vw;
}

#coding {
    color: black;
    font-size: 8.5vw;
    float: right;
    margin-left: 2vw;
}

#community {
    color: black;
    font-size: 8.5vw;
    line-height: 6vw;
    float: right;
}

@media (max-aspect-ratio: 1/1) {
    #mobile-home-div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #welcome-div {
        padding: 2vw;
    }

    #loyola-div {
        padding: 2vw;
    }

    #coding-div {
        padding: 2vw;
    }
    #home-text {
        width: auto;
        height: 80vh;
        display: flex;
        justify-content: start;
        overflow: hidden;
    }

    #welcome-to {
        font-size: 10vw;
        line-height: 10vw;
    }

    #loyola {
        font-size: 12vw;
        line-height: 12vw;
    }

    #university {
        font-size: 12vw;
        line-height: 12vw;
    }

    #chicago {
        font-size: 12vw;
        line-height: 12vw;
    }

    #coding {
        float: left;
        font-size: 13vw;
        line-height: 13vw;
        margin-left: 0vw;
    }

    #community {
        float: left;
        font-size: 13vw;
        line-height: 13vw;
    }
}