* {
    color: black;
}

h1 {
    font-weight: 900;
}

span {
    font-weight: 900;
}

#home-text {
    /* margin-top: 5vh; */
    width: 100%;
    max-height: 90%;
    margin-bottom: 17.5vh;
    margin-left: auto;
    margin-right: auto;
}

#welcome-to {
    color: black;
    font-size: 10vh;
    line-height: 10vh;
}

#loyola {
    color: #a40047;
    font-size: 13vh;
    line-height: 13vh;
}

#university {
    color: #e7af12;
    font-size: 13vh;
    line-height: 13vh;
}

#chicago-coding {
    line-height: 13vh;
}

#chicago {
    color: #a40047;
    font-size: 13vh;
    line-height: 13vh;
}

#coding {
    color: black;
    font-size: 18vh;
    float: right;
}

#community {
    color: black;
    font-size: 18vh;
    line-height: 14vh;
    float: right;
}

#byte {
    color: white;
    font-weight: normal;
}