
#nav-bar {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 12.5vh;
    width: auto;
}

.nav-item {
    color: black;
    font-size: 1.5em;
}

.nav-item:hover {
    color: #555;
}