@import url('https://fonts.googleapis.com/css?family=Lato:900&display=swap');

#switch {
    /* width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; */
}
